[Unit]
Description=Osmocom CBC (Cell Broadcasting Centre)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
StateDirectory=osmocom
WorkingDirectory=%S/osmocom
Restart=always
ExecStart=/usr/bin/osmo-cbc -c /etc/osmocom/osmo-cbc.cfg
RestartSec=2

[Install]
WantedBy=multi-user.target
