*.o
*.a
*.lo
*.la
*~
.deps
Makefile
Makefile.in
config.h
config.h.in

#configure
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
configure.lineno
depcomp
install-sh
missing
stamp-h1

# libtool
ltmain.sh
libtool
.libs

# git-version-gen magic
.tarball-version
.version

# apps and app data
src/osmo-cbc

#tests
tests/*/*_test

tests/atconfig
tests/package.m4
tests/testsuite
tests/testsuite.log

*.pc
config.*

tags
/Doxyfile

# manuals
doc/manuals/*.html
doc/manuals/*.svg
doc/manuals/*.pdf
doc/manuals/*__*.png
doc/manuals/*.check
doc/manuals/generated/
doc/manuals/osmobsc-usermanual.xml
doc/manuals/common
doc/manuals/build
doc/manuals/vty/cbc_vty_reference.xml

contrib/osmo-cbc.spec
libosmo-sbcap.pc
