Source: osmo-cbc
Section: net
Priority: extra
Maintainer: Osmocom team <openbsc@lists.osmocom.org>
Build-Depends: debhelper (>=9),
               dh-autoreconf,
               autotools-dev,
               autoconf,
               automake,
               libtool,
               pkg-config,
               python3-minimal,
               libtalloc-dev,
               libosmocore-dev (>= 1.7.0),
               libosmo-netif-dev (>= 1.2.0),
               libulfius-dev,
               libjansson-dev,
               libsctp-dev,
               osmo-gsm-manuals-dev
Standards-Version: 3.9.8
Vcs-Git: https://gitea.osmocom.org/cellular-infrastructure/osmo-cbc
Vcs-Browser: https://gitea.osmocom.org/cellular-infrastructure/osmo-cbc
Homepage: https://projects.osmocom.org/projects/osmo-cbc

Package: osmo-cbc
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: OsmoCBC: Osmocom's Cell Broadcast Center

Package: osmo-cbc-utils
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, python3
Description: Utilities for OsmoCBC: Osmocom's Cell Broadcast Center

Package: osmo-cbc-dbg
Section: debug
Architecture: any
Multi-Arch: same
Depends: osmo-cbc (= ${binary:Version}), ${misc:Depends}
Description: OsmoCBC: Osmocom's Cell Broadcast Center

Package: osmo-cbc-doc
Architecture: all
Section: doc
Priority: optional
Depends: ${misc:Depends}
Description: ${misc:Package} PDF documentation
 Various manuals: user manual, VTY reference manual and/or
 protocol/interface manuals.

Package: libosmo-sbcap0
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: libosmo-sbcap: Osmocom's library to encode/decode SBc-AP messages

Package: libosmo-sbcap-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libosmo-sbcap0 (= ${binary:Version}), ${misc:Depends}
Description: libosmo-sbcap: Osmocom's library to encode/decode SBc-AP messages
